<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="../styles/styles.css" rel="stylesheet" />
  <!-- <link href="../stylesheets/graphstyle.css" rel="stylesheet" /> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <script defer src="../javascripts/fetch.js"></script>
  <script defer src="../javascripts/main.js"></script>
  <script src="../javascripts/graph.js"></script>
  <script src="../javascripts/floydwarshall.js"></script>
  <!-- <script defer src="../javascripts/input.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.17/cytoscape.min.js"></script>
  <meta charset="utf-8" />
  <title>Graph Example</title>
</head>

<body>
  <script defer src="../javascripts/draw.js"></script>
  <div class="split left">
    <div class="centered">
      <h1>Arbitrage Opportunity</h1>
      <h3>Enter the amount of money you want to invest,
        the currency from which you want to start, and
        we will do the rest.
      </h3>
      <br />
      <div class="select">
        <select id="baseCurrency">
          <option>USD</option>
          <option>GBP</option>
          <option>CAD</option>
          <option>JPY</option>
          <option>EUR</option>
        </select>
      </div>
      <br />
      <input type="text" class="text_bar" id="userAmount" placeholder="How much money are you investing?" />
      <br />
      <button class="button medium" id="start-button">Calculate Arbitrage!</button>
      <div id="displayToUser"></div>
    </div>
  </div>
  <div class="split right">
    <div class="centered">
      <div class = "cy hidden" id="cy">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>        
      </div>
    </div>
  </div>
</body>

</html>